body {
  min-height: 100vh;
  min height: -webkit-fill-available;
  font-family: Roboto, sans-serif;
  background-color: #121212;
  color: #e2e4e1;
  margin-right:130px;
  margin-left:130px;
}

html {
    height: -webkit-fill-available;
}
a {
    color:#1565c0;
    text-decoration:none;
}

a:visited {
    color: #6a1b9a;
}

code {
    background-color: #grey;
    font-family: "Roboto Mono", monospace;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
  text-align:center;
  text-decoration:underline;
}

a:hover {
    background-color: #0e0f0f;
    text-decoration:underline;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: white;
}

p1 {
    color:white;
    text-decoration:none;
}

#ajan {
  border: 4px solid #e2e4e1;
  font-size:150%;
  text-align:center;
  margin-right:130px;
  margin-left:130px;
  padding-bottom:20px;
  padding-top:20px;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

#site-menu {
    background-color: #212121;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

#site-menu ul li {
    list-style-type: none;
    display: flex;
}

#site-menu ul li:hover {
    background-color: #424242;
}

#site-menu ul li a {
    color: #fff;
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
    font-size:150%;
}

#site-menu ul li a:visited {
    color: #fff;
}

#site-menu ul li[aria-current] a {
    color: #64b5f6;
}

#site-menu img {
    height: 1.8rem;
    width: 1.8rem;
    filter: invert(100);
    vertical-align: middle;
    margin-right: 0.5rem;
}

#site-menu ul li[aria-current] img {
    filter: invert(60%) sepia(24%) saturate(997%) hue-rotate(168deg) brightness(107%) contrast(93%);
}

p1 {
  font-size:175%;
}
#teksti {
  font-size:125%;
  font-family: Roboto, verdana;
}

li a:hover {
  background-color: #111;
}

@media only screen and (min-width: 1200px) {
  body {
    margin-left:350px;
    margin-right:350px;
    font-size:80%;
    color:#e2e4e1;
  }
}
