body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Roboto, sans-serif;
    background-color: black;
    color: #e2e4e1;
    background-image: url("moih683.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px 600px;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}


html {
    height: -webkit-fill-available;
}
a {
    color:#1565c0;
    text-decoration:none;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 832px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}

code {
    background-color: #grey;
    font-family: "Roboto Mono", monospace;
}

h1 {
  text-align:center;
  text-decoration:underline;
}


a:hover {
    background-color: #0e0f0f;
    text-decoration:underline;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: white;
}

p1 {
    color:white;
    text-decoration:none;
}

#site-menu ul {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0;
    padding: 0;
}

#ajan {
  text-align:left;
  list-style-type:square;
}


#site-menu {
    white-space: nowrap;
}

#site-menu ul li {
    list-style-type: none;
    display: flex;

}

#site-menu ul li a {
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
    font-size:100%;
    color:white;
}

#site-menu ul li a:visited {
    color: #fff;
}

#site-menu ul li[aria-current] a {
    color: red;
}

#site-menu img {
    height: 1.8rem;
    width: 1.8rem;
    filter: invert(100);
    vertical-align: middle;
    margin-right: 0.5rem;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 800px;
    overflow-wrap: break-word;
    text-align: center;
}

footer a, footer a:visited {
    color: #616161;
}

#sosiaali {
    margin-top: 2em;
    padding: 0;
    list-style-type: none;
}

#sosiaali li {
    display: inline;
    padding: 0 0.5em;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: red;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
