/* Perus pohja ja ulkönäkö määrittely alkaa */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    font-family: Roboto, sans-serif;
    background-color: #252627;
    color: #a9a9b3;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-image: url("mask-icon.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px 600px;
}

html {
    height: -webkit-fill-available;
}

main {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 832px;
    min-width: 0;
    width: 100%;
    box-sizing: border-box;
    overflow-wrap: break-word;
}
/* Perus pohja ja ulkonäkö määrittely loppuu */

/* Väri poikkeuksien luettelo alkaa */
a {
    color:#1565c0;
    text-decoration:none;
}

code {
    background-color: #424242;
    font-family: "Roboto Mono", monospace;
}

h1 {
  text-align:center;
  color:white;
}

a:hover {
    background-color: #252627;
    text-decoration:underline;
}

h1 a, h1 a:visited, h2 a, h2 a:visited, h3 a, h3 a:visited, h4 a, h4 a:visited, h5 a, h5 a:visited, h6 a, h6 a:visited {
    color: white;
}

p1 {
    color:white;
    text-decoration:none;
}
/* Väripoikkeuksien luettelo loppuu */

/* Ajankohtaiset osion määrittely alkaa */
#ajan-kohtaista {
  text-align:left;
  font-weight: bold;
  border-left:3px solid grey;
  padding:10px;
  margin:5px;
}
/* Ajankohtaiset osion määrittely loppuu */

/* Navigointipalkin määrittely alkaa */
#navigointi ul {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow-x: auto;
    padding: 0;
    background-color: #252627;
}

#navigointi {
    white-space: nowrap;
}

#navigointi ul li {
    list-style-type: none;
    display: flex;
}

#navigointi ul li a {
    display: flex;
    text-decoration: none;
    padding: 1em;
    align-items: center;
    font-size:100%;
    color:grey;
    font-weight: bold;
}

#navigointi ul li a:visited {
    color: grey;
}

#navigointi ul li[aria-current] {
  font-size:110%;
  color:white;
  background-color:#252627;
}

#navigointi ul li[aria-current] a {
    color: white;
    font-size:110%;
}

#navigointi ul li a:hover {
  font-size:110%;
  color:white;
}
/* Navigointipalkin määrittely loppuu */

/* Sivuston footerin määrittely alkaa */
footer img {
    width: 60px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

footer {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    max-width: 800px;
    overflow-wrap: break-word;
    text-align: center;
}

footer a, footer a:visited {
    color: #616161;
}

#social {
    margin-top: 2em;
    padding: 0;
    list-style-type: none;
}

#social li {
    display: inline;
    padding: 0 0.5em;
}
/* Sivuston footer määrittely loppuu */

/* GrapheneOS logon muokkaus alkaa */
#kuvah {
    height: 2rem;
    width: 2rem;
    filter: invert(100);
    vertical-align: middle;
    margin-right: 0.5rem;
}
/* GrapheneOS logon muokkaus loppuu */
